<!DOCTYPE html>
<html>
  <head>
    <title>FbcFlemaPrototype</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <%= image_tag current_user.avatar unless current_user.avatar.nil? %>
        <%= current_user.name %>さん
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else  %>
        ゲストさん
        <%= button_to "Discordでログイン", user_discord_omniauth_authorize_path, data: { turbo: false } %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
